/*-------------------------------------------
ヘッダー
-------------------------------------------*/

#header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
}

#header .header-inner {
  height: 44px;
  display: flex;
  align-items: center;
}

#header .header-inner .logo {
  flex-shrink: 0;
  line-height: 1px;
  margin-right: 9%;
　widht:16px;
}
#navi {
  width: 100%;
}

#navi ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navi a {
  height: 44px;
  line-height: 44px;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  padding: 0 10px;
  opacity: 0.8;
  transition: all 0.5s;
}

#navi a:hover {
  opacity: 1;
}
.hamburger {
 display: none;
}